{% extends "base_generic.html" %}

{% block content %}
    <h1>Issue Requests</h1>

    {% if issuerequest_list %}
        <hr>
        <ul>
        {% for issuerequest in issuerequest_list %}
      <li>
        <a href="">{{issuerequest.book.ISBN.BookTitle}}</a>
          <ul>
              <p class="{% if issuerequest.isApproved == '0' %}text-warning{% elif issuerequest.isApproved == '2' %}text-danger{% else %}text-muted{% endif %}"><strong>Status: </strong>{{ issuerequest.get_isApproved_display }}</p>
              <p class="text-muted"><strong>Request ID: </strong>NITK-IR00{{ issuerequest.pk }}</p>
          </ul>
      </li>
            <hr>
        {% endfor %}

        </ul>
    {% else %}
      <p>There are no requests raised.</p>
    {% endif %}       
{% endblock %}

