{% extends "base_generic.html" %}

{% block content %}
    <h1>Borrowed books</h1>

    {% if bookinstance_list %}
    <ul>
      {% for bookinst in bookinstance_list %} 
      <li>
        <a href="">{{bookinst.ISBN.BookTitle}}</a>
          <ul>
              <li><strong>Due Date :</strong>{{ bookinst.last_transaction.DueDate }}</li>
              <li><strong>Issue Date</strong>{{ bookinst.last_transaction.IssueDate }}</li>
              <li><strong>Transaction id:</strong>NITK-TR0{{ bookinst.last_transaction.id }}</li>
          </ul>
      </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>There are no books borrowed.</p>
    {% endif %}       
{% endblock %}

